services:
  kms-healthcheck:
    build: .
    image: kms-healthcheck:local
    restart: unless-stopped
    ports:
      - "8443:8443"
    volumes:
      - /opt/mtls:/certs:ro
    environment:
      # AWS KMS #1
      KMS1_URL: "${KMS1_URL}"
      KMS1_REGION: "${KMS1_REGION}"
      KMS1_KEY_ID: "${KMS1_KEY_ID}"
      KMS1_ACCESS_KEY_ID: "${KMS1_ACCESS_KEY_ID}"
      KMS1_SECRET_ACCESS_KEY: "${KMS1_SECRET_ACCESS_KEY}"

      # Redis
      REDIS_URL: "redis://redis:6379/0"

      # IP allow-list & proxy trust
      ALLOW_IPS: "${ALLOW_IPS}"     # e.g. "185.229.225.151/32,90.167.0.0/16"
      TRUST_PROXY: "${TRUST_PROXY}" # "true" if behind nginx/elb that sets X-Forwarded-For

      # Timers
      LOCK_TTL: "${LOCK_TTL:-5m}"
      NONCE_TTL: "${NONCE_TTL:-5m}"
      HEALTH_INTERVAL: "${HEALTH_INTERVAL:-15s}"
      REQ_TIMEOUT: "${REQ_TIMEOUT:-2s}"
      SIG_SKEW: "${SIG_SKEW:-60s}"

    depends_on:
      - redis
    labels:
      - autoheal=true
      -
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/live"]
      interval: 100s
      timeout: 3s
      retries: 5

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data

  autoheal:
    image: willfarrell/autoheal:1.2.0
    restart: unless-stopped
    environment:
      AUTOHEAL_CONTAINER_LABEL: autoheal
      AUTOHEAL_INTERVAL: 10
      AUTOHEAL_START_PERIOD: 0
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: 10
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  redis-data:
